<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body bgcolor="#f5f5f5">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr bgcolor="black">
            <td>
                <table border="0" cellpadding="15" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <font color="white" size="4"><b>Change Password</b></font>
                        </td>
                        <td align="right">
                            <a href="/employee/dashboard">
                                <input type="button" value="Back to Dashboard" style="padding: 5px 10px;">
                            </a>
                            <form action="/auth/logout" method="POST" style="display: inline; margin-left: 10px;">
                                <input type="submit" value="Logout" style="padding: 5px 10px;">
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <center>
        <table border="0" cellpadding="20" cellspacing="0" width="500">
            <tr>
                <td>
                    <% if (success) { %>
                    <table border="1" cellpadding="10" bgcolor="blue" width="100%">
                        <tr>
                            <td align="center">
                                <font color="green"><b><%= success %></b></font>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <% } %>

                    <% if (error) { %>
                    <table border="1" cellpadding="10" bgcolor="#ffcccc" width="100%">
                        <tr>
                            <td align="center">
                                <font color="red"><b><%= error %></b></font>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <% } %>

                    <table border="1" cellpadding="20" cellspacing="0" width="100%" bgcolor="white">
                        <tr bgcolor="#FF5722">
                            <td align="center">
                                <font color="white" size="3"><b>Change Your Password</b></font>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="/employee/change-password" method="POST">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="40%"><b>Current Password:</b></td>
                                            <td>
                                                <input type="password" name="currentPassword" size="25" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>New Password:</b></td>
                                            <td>
                                                <input type="password" name="newPassword" size="25" required>
                                                <br><small><i>(Minimum 6 characters)</i></small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Confirm New Password:</b></td>
                                            <td>
                                                <input type="password" name="confirmPassword" size="25" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <br>
                                                <input type="submit" value="Change Password" style="padding: 10px 20px; font-size: 14px;">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <br>
                    <table border="1" cellpadding="15" bgcolor="#fff3cd" width="100%">
                        <tr>
                            <td>
                                <b>Password Requirements:</b>
                                <ul>
                                    <li>Must be at least 6 characters long</li>
                                    <li>Enter your current password to verify identity</li>
                                    <li>New password and confirmation must match</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
